<div class="row">
  <div class="input-field col s12">
    <%= form_tag('/blog',method: :post) do %>
      <h3>
        投稿する
      </h3>
      <textarea cols="30" name="content" placeholder="content" rows="10"></textarea>

      <input type="submit" class="btn waves-effect" value="SENT">
    <% end %>
  </div>
</div>

